body {background-color: rgb(90, 181, 241);
}
h1 {text-align: center;
}
h1 {text-decoration: overline;
}
h3 {text-align: center;
}
h3 {text-transform:inherit;
}
#pastor {width: 20%;
}
#husky {width: 20%;
}
#golden {width: 20%;
}
#beagle {width: 15%;
}
h3 {border-color: rgb(9, 9, 138);
    border-width: 5px;
    border-style: solid;
}
#pastor {border-color:rgb(9, 9, 138);
          border-width: 3px;
          border-style: solid;
}
#husky {border-color:rgb(9, 9, 138);
    border-width: 3px;
    border-style: solid;
}
#golden {border-color:rgb(9, 9, 138);
    border-width: 3px;
    border-style: solid;
}
#beagle {border-color:rgb(9, 9, 138);
    border-width: 3px;
    border-style: solid;
}
h3 {border-color:rgb(9, 9, 138);
    border-width: 4px;
    border-style: solid;
}